.sidebar {
  width: 230px;
  height: 100vh;
  background: #111;
  color: white;
  position: fixed;
  padding: 25px 15px;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.menu li a:hover {
  color: #00ff88;
}
